
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 80%;
    height: 80%;
}

.container > div {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow: true;
    display: flex;
    flex-direction: column;
}

.tables-container {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

textarea {
    width: 100%;
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

label {
    margin-bottom: 10px;
}

button {
    align-self: flex-end;
}

canvas {
    width: 100%;
    height: 100%;
}

 .spinner {
   border: 8px solid #f3f3f3;
   border-top: 8px solid #3498db;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 2s linear infinite;
   display: none; /* Hidden by default */
 }

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 .loading {
   display: inline-block; /* To ensure it's shown */
 }
